<header>
  <div class="container header-inner">
    <div class="brand">
      <h1>Jie “Ellen” Lin, RCIC</h1>
      <p>Canadian Immigration Consultant | 加拿大持牌移民顾问</p>
    </div>
    <nav>
      <a href="../index.html">Home 首页</a>
      <a href="../index.html#services">Services 服务</a>
      <a href="../index.html#updates">Updates 最新动态</a>
      <a href="../index.html#contact">Contact 联系</a>
    </nav>
  </div>
</header>
